.comment-list h3 {
    margin: 30px auto 30px ;
    padding-top: 30px;
    padding-bottom: 50px;
}

table {
    margin: 30px auto 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 55%;

}

