<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_table (memberName, memberEmail, memberPassword, memberMobile, memberProfile)
            values (#{memberName}, #{memberEmail}, #{memberPassword}, #{memberMobile}, #{memberProfile})
    </insert>

    <insert id="saveFile" parameterType="memberProfile">
        insert into profile_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="member">
        select * from member_table where memberEmail=#{memberEmail}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_table
                 where memberEmail=#{memberEmail}
                   and memberPassword=#{memberPassword}
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from member_table where id=#{id}
    </select>

    <update id="update" parameterType="member">
        update member_table set memberName=#{memberName}, memberEmail=#{memberEmail}, memberMobile=#{memberMobile} where id=#{id}
    </update>

    <select id="findFile" parameterType="Long" resultType="memberProfile">
        select * from profile_table where memberId=#{memberId}
    </select>

</mapper>